.footer {
    background-color: #282c34;
    color: white;
    /* padding: 1px; */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.empty-height {
    height: 50px;
}

.App {
    text-align: center;
}

.App-header {
    background-color: lightsteelblue;
    padding: 1px;
    color: black;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.App-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.App-nav li {
    display: inline;
    margin: 0 10px;
}

.App-nav a {
    color: blue;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    transition: color 0.3s;
}

.App-nav a:hover {
    color: darkblue;
}

.App-main {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-main section {
    /* margin: 20px 0; */
    width: 100%;
    max-width: 800px;
}

.image-gallery {
    width: 100%;
    max-width: 100%;
}


/* Weather */
.weather-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background: #f0f8ff;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.current-weather-container {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    background-color: blue;
    padding: 20px;
    color: white; /* Optional: Text color for better visibility */
    margin-top: 10px; /* Optional: Space between elements */
}


/* .weather-container-1 {
    display: inline;
    width: 100%;
    align-items: right;
}

.current-weather-container {
    padding-top: 0%;
    margin-top: 0%;
    background-color: red;
} */

h1 {
    color: #333;
}

.rain-data-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    width: 100%;
}

.rain-data-item {
    background: #e0f7fa;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 60px;
}

.water-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
}

.water-button:hover {
    background: #0056b3;
}

.water-button:disabled {
    background: #cccccc;
    cursor: not-allowed;
}

.gallery-container {
    /* width: 500px; */
    /* height: 200px; */
    /* background-color: red; */
}